
  <mat-toolbar>
  <span>Angular CRUD App</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEmployeeDetailsDialogBox()">
    App Employee
  </button>
</mat-toolbar>

<div class="mat-elevation-z2 table-container">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let employee"> {{employee.id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let employee"> {{employee.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let employee"> {{employee.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let employee"> {{employee.email}} </td>
    </ng-container>

    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef> DOB </th>
      <td mat-cell *matCellDef="let employee"> {{employee.dob}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let employee"> {{employee.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let employee"> {{employee.role}} </td>
    </ng-container>

    <ng-container matColumnDef="action" class="btn-row">
      
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let employee"> 
        <div class="btn-row">
            <button mat-icon-button (click)="deleteEmployee(employee.id)">
                <mat-icon color="warn">
                  delete
                </mat-icon>
            </button>
            <button mat-icon-button (click)="editEmpDetails(employee)">
                <mat-icon color="primary">
                  edit
                </mat-icon>
            </button>
        </div>
       </td>
    </ng-container>

   

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   
  </table>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of employees">
  </mat-paginator> -->
</div>

